body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}
a,
ul {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}
input {
  font-family: inherit;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container.addflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.adddirection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ---------------------Header-------------------------- */

.header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logos {
  color: #2e2f42;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}
.navigation-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}
.navigation-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover {
  color: #404bbf;
}
.navigation-link:focus {
  color: #404bbf;
  text-decoration: underline;
}
.current {
  color: #404bbf;
  position: relative;
}
.current:after {
  content: "";
  display: block;
  border-radius: 2px;
  background: #404bbf;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
  padding: 24px 0;
  width: calc((100% - 40px) / 2);
}
.address {
  font-style: normal;
}
.address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
  text-decoration: underline;
}
/* ------------------------------------------------ */
/* ------------------Hero-------------------------- */

.section-hero {
  margin: 0 auto;
  max-width: 1440px;
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}
.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 636px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* ------------------------------------------------ */
/* ------------------advantages-------------------- */

.section-advantages {
  background: #fff;
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-advantages-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.section-advantages-navigation-item {
  width: calc((100% - 72px) / 4);
}
.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.section-advantages-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-advantages-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------------------------------------ */
/* ------------------Our Team---------------------- */

.section-team {
  background: #f4f4fd;
  padding: 120px 0;
}
.section-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-team-navigation {
  display: flex;
  gap: 24px;
}
.section-team-navigation-item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-text {
  padding: 32px 0;
}
.section-team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.section-team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link:hover {
  background-color: #404bbf;
}
.team-soc-link:focus {
  background-color: #404bbf;
}

/* ------------------------------------------------ */
/* ------------------Portfolio--------------------- */

.section-folio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-folio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-folio-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.section-folio-navigation-item {
  background: #ffffff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-folio-navigation-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-folio-navigation-item:hover .folio-cover-text {
  transform: translateY(0%);
}
.folio-image-wrap {
  position: relative;
  overflow: hidden;
}
.folio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-folio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-folio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-folio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------------------------------------ */
/* ------------------Footer------------------------ */

.basement {
  background: #2e2f42;
  padding: 100px 0;
}
.container.addfooterflex {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.basement-logoz {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.basement-discr {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo-text {
  margin-right: 120px;
}
.footer-soc {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-soclist-wraper {
}
.footer-soclist {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-soclist-item {
  width: 40px;
  height: 40px;
}
.soclist-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: #f4f4fd;
}
.soclist-icon:hover {
  background-color: #31d0aa;
}
.soclist-icon:focus {
  background-color: #31d0aa;
}
.footer-form-wrap {
  margin-left: 80px;
}
.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-text {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-input {
  width: 264px;
  height: 40px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  display: flex;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
}
.footer-btn:hover, .footer-btn:focus {
  background-color: #404bbf;
}
.footer-btn-icon {
  fill: #ffffff;
  margin-left: 16px;;
}
/* ---------------------------- */
/* --------backdrop----------- */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .modal-close-btn-icon,
.modal-close-btn:focus > .modal-close-btn-icon {
  fill: #ffffff;
}
.modal-title {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-label-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-label-input:focus {
  border-color: #4d5ae5;
}
.modal-label-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-label-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  min-height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  resize: none;
}
.modal-label-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-top: 8px;
}
.modal-label-textarea:focus {
  border-color: #4d5ae5;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-line {
  margin-bottom: 24px;
}
.check-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-label a {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}
.check-input:checked + .check-label .checkbox {
  background-color: #404bbf;
  border: none;
  fill:#f4f4fd;
}
.submit-btn {
  display: block;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #404bbf;
}